BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
ContinuationIndentWidth: 4
ColumnLimit: 80

BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: All
AllowShortEnumsOnASingleLine: false

PointerAlignment: Right
ReferenceAlignment: Pointer
DerivePointerAlignment: false

AlignAfterOpenBracket: Align
BinPackArguments: true
BinPackParameters: BinPack
BreakBeforeBinaryOperators: None

NamespaceIndentation: All
AccessModifierOffset: -4
IndentCaseLabels: true
FixNamespaceComments: false

BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 0
PackConstructorInitializers: BinPack

SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: false

